body{
    background-color:gray;
}

h1{
    color:darkslateblue;
    text-align: center;
}

header{
    border: 3px solid powderblue;
}

img{
    width: 200px;
    height: 115px;
}

.forum{
    position: relative;
    right: 100px;
    text-align: center;
}

button{
    position: relative;
    padding: 4px 5px;
    margin: 4px 2px;
}

.messages{
    position: relative;
    text-align: center;
}